
body {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #1f1f1f;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}
article {
    display: flex;  
    flex-direction: column;
}
.question{
    display: none;
}
.result{
    display: none;
}
#img{
    width: 300px; 
    height: 300px; 
    margin: 0 auto;
}
.ad_banner, .end_banner{
    flex-direction: row;
}
.banner-img {
    width: 100%;
}
.main-title {
    font-size: 16px;
    color: #7c7c7c;
}
.sub-title {
    font-size: 24px;
    font-weight: 300;
}
.title28{
    font-size: 28px;
    font-weight: 600;
}
.title32{
    font-size: 32px; font-weight: 300; text-align: center;
}
.main_bn{
    width: 80%;
    margin: 0 auto;
}
.ys-logo {
    width: 120px;
    margin: 0 auto;
}
.copyright-text {
    font-size: 16px;
    color: #7c7c7c;
}
.q-text{
    font-size: 18px;
    font-weight: 600;
}
.q-content {
    font-size: 20px;
    font-family: 600;
}
#salary{
    color: #5D44AD;
}
#explain{
    font-size: 18px;
}
#job{
    color: #5D44AD;
}
.start_btn{
    font-size: 32px;
    padding: 15px 0;
}
.again{
    display: none;
    text-align: center;
}
.again div{
    display: flex;
    flex-direction: column;
}
.bye{
    display: none;
}
.img300{
    width: 300px;
    height: 300px; 
    margin: 0 auto;
}
.fl_col{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.goal{
    display: none;
}